body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
  }
  
  .chat-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    height: 90vh;
  }
  
  .chat-header {
    text-align: center;
  }
  
  .chat-history {
    flex-grow: 1;
    overflow-y: overlay;
    padding: 10px;
  }
  
  .chat-message {
    margin-bottom: 10px;
    display: flex;
  }
  
  .chat-message.sent {
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  .chat-message.received {
    justify-content: flex-start;
    align-items: flex-end;
  }
  
  .chat-message p {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-weight: bold;
  }
  
  .chat-message.sent p {
    background-color: #e0e0e0;
  }
  
  .chat-input {
    display: flex;
  }
  
  #message-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #send-button {
    padding: 10px 20px;
    background-color: white;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .responses {
    padding-left: 10px;
    padding-top: 10px;
  }
  
  .messages {
    border: 1px solid rgba(0, 0, 0, 0.1098039216);
    border-radius: 10px;
    font-size: 15px;
    line-height: 2;
    font-style: normal;
  }
  
  .blue {
    color: darkturquoise;
    // background: rgba(128, 128, 128, 0.0901960784);
    
  }
  
  .green {
    color: white;
    // background:darkslateblue;
    // background: rgba(199, 175, 255, 0.307);
  }
  
  #send-button:disabled {
    background-color: grey;
    cursor:not-allowed;
  }

  ::ng-deep pre.code-block {
    background-color: rgba(0, 0, 0, 0.7); // Fundo preto com transparência
    color: #fff; // Texto branco para melhor leitura
    padding: 10px; // Espaçamento interno para melhor estética
    border-radius: 5px; // Bordas arredondadas
    border: 1px solid darkturquoise;
    font-size: 11px;
  }
  
    .code-block p {
        margin: 0; // Remover margem padrão do parágrafo
    }  